<%= form_for @trip, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :origin, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :origin, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :destination, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :destination, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :date, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.datetime_select :date, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :time, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.datetime_select :time, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :seat, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :seat, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :price, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :price, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :description, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :city1, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :city1, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :country1, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :country1, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :city2, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :city2, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :country2, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :country2, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :lat1, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :lat1, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :lng1, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :lng1, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :lat2, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :lat2, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :lng2, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :lng2, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :list_stops, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :list_stops, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  trips_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
