
  <head>
    <title>Results!</title>

    <style type="text/css">
      #map-canvas{
          height: 200px;
          width: 330px;
      }
    </style>


  </head>

  <body class="parallax">

  <div id="container">

        <div class="col-md-2 ">
        </div>
        <div class="col-md-8 ">
          <div class="panel panel-default">
              <div class="panel-heading text-center">
              <form id="eventForm">
                  <input type="hidden" id="origin" value="<%=@lat1 + ',' + @lng1%>"/>
                  <input type="hidden" id="destination" value="<%=@lat2 + ',' + @lng2%>"/>
                  <!-- <input type="hidden" id="country1" value="<%=@country1%>"/> -->
                  <!-- <input type="hidden" id="country2" value="<%=@country2%>"/> -->
                  <div >
                      <label class="control-label" id="<%=@city1%>">From: <%=@city1.upcase%></label>
                  </div>
                  <div >
                      <label class="control-label" id="<%=@city1%>">To: <%=@city2.upcase%></label>
                  </div>
              </form>
            <div class="container" id="map-canvas"></div>
          </div>


          <div class="panel-body">Your potential drivers:
                <ul class="text-center" id="tripList">
                </ul>
              </div>
          </div>
       </div>

    </div>

</div>

<script>

 $(document).ready(calcRoute);

var directionsDisplay;
var directionsService = new google.maps.DirectionsService();
var map;

function calcRoute() {
  directionsDisplay = new google.maps.DirectionsRenderer();
  var chicago = new google.maps.LatLng(41.850033, -87.6500523);
  var mapOptions = {
    zoom:2,
    center: chicago,
};
  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  directionsDisplay.setMap(map);

  var request = {
      origin: new google.maps.LatLng(gon.lat1,gon.lng1),
      destination: new google.maps.LatLng(gon.lat2,gon.lng2),
      travelMode: google.maps.TravelMode.DRIVING
  };

  directionsService.route(request, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
    }
  });


    hittingdatabase();
    function hittingdatabase(){
                  $.ajax({
                      url: '/search/trips' ,
                      type: 'GET',
                      data: {
                        ridecity1: '<%= params[:ridecity1] %>',
                        ridecity2: '<%= params[:ridecity2] %>'
                        },
                       success: function showMatchingTrips(matching_trips) {
                            console.log(matching_trips);

                            matching_trips.forEach(function (trip) {

                                html = ['<ul data-hook="' + trip.id + '"><h3><strong><a href="/trips/show/' + trip.id + '">' + trip.username + ' on ' + trip.pretty_date + '</strong> --- ' + trip.city1 + ' => ' + trip.city2 + '</a></h3></ul>'
                                        ];
                                $('#tripList').append(html);
                            });
                        }
                  });

    };


}

</script>
</body>
