<!-- <nav class="navbar navbar-default" role="navigation"> -->
<nav class="navbar navbar-default navbar-fixed-top container">

  <%= link_to (image_tag('carpool.jpg', width: "100px")), defined?(root_path) ? root_path : "#"%>
  <strong><%= link_to "LET'S CARPOOOOOOL!", defined?(root_path) ? root_path : "#"%></strong>

  <div class="navbar-right">
  <% if defined?(Devise) %>
    <% if user_signed_in? %>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to "Edit Account", edit_user_registration_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        </ul>
      </li>
    <% else %>
    <button type="button" class="btn btn-default navbar-btn"><strong><%= link_to "Login", new_user_session_path %></strong></button>
    <button type="button" class="btn btn-default navbar-btn"><strong><%= link_to "Sign Up", new_user_registration_path %></strong></button>
    <% end %>
  <% end %>

</div>
</nav>


<!-- OLD NAVBAR -->
<!-- <nav class="navbar navbar-default" role="navigation">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <%= link_to (image_tag('carpool.jpg', width: "80px")), defined?(root_path) ? root_path : "#"%>
    <strong><%= link_to "LET'S CARPOOOOOOL!", defined?(root_path) ? root_path : "#"%></strong>

  </div>


  <div class="collapse navbar-collapse" id="navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a class="w-nav-link menu-li">                       </a></li>
      <li><a class="w-nav-link menu-li">                       </a></li>
      <li><a class="w-nav-link menu-li">                       </a></li>
      <li><a class="w-nav-link menu-li">                       </a></li>
      <li><a class="w-nav-link menu-li">                       </a></li>
      <li><a class="w-nav-link menu-li">                       </a></li>
      <li><a class="w-nav-link menu-li" href="">HOME</a></li>
      <li><a class="w-nav-link menu-li" href="">CONCEPT</a></li>
      <li><a class="w-nav-link menu-li" href="">CLIENTS</a></li>
      <li><a class="w-nav-link menu-li" href="">HOW IT WORKS ?</a></li>
      <li><a class="w-nav-link menu-li" href="">TEAM</a></li>
      <li><a class="w-nav-link menu-li" href="">CONTACT</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if defined?(Devise) %>
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Edit Account", edit_user_registration_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Login", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</nav> -->
