<!DOCTYPE html>
<html>
<head>
  <title>Let's Carpooooool</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyAMqwNLZj6PztcPAOXorTJWTujkVdXuMIo&libraries=places"></script>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrtYcm0vMM_g9Bk2qW9i3fb55TPmcbnWg"></script> -->
<script type="text/javascript" src="https://rawgit.com/googlemaps/v3-utility-library/master/routeboxer/src/RouteBoxer.js"></script>
<!-- <script type="text/javascript" src="//google-maps-utility-library-v3.googlecode.com/svn/trunk/routeboxer/src/RouteBoxer.js"></script> -->

<link href="//fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
<!-- Prelang: Analytics / Google Analytics -->
    <%= analytics_init if Rails.env.production? or Rails.env.development? %><meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
    <%= render partial: "elements/navbar" %>
  <!-- <div class="row">

      <%= bootstrap_flash %>

  </div> -->
<%= yield %>

<%= render partial: "elements/footer" %>
</body>
</html>
